@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .login_btn {
        @apply text-chat_bg w-full bg-received_chat_col py-4 text-xl rounded-xl
    }
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
